.lead__title {
  margin: 0;
  color: #FF6600;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 auto 40px;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  font-family: 'Montserrat';
}

.lead__title-black {
  color: #2D2D2D;
}
