.card {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  box-shadow: 0px 0px 10px 0px #0000001a;
  row-gap: 5px;
  border-radius: 10px;
}
.card:hover {
  border: 1px solid #053605;
}

.card_active {
  background: #98fb98;
  pointer-events: none;
  cursor: default;
}

.email {
  text-align: end;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin: 0;
  padding: 0;
  background: #ccf1cc;
}

.name {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  margin: 0 0 5px 0;
  padding: 0;
}

.body {  
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin: 0;
  padding: 0;
}